<fieldset>
    <form class="" action="/recibos/almacenar/mes" method="POST">
        <legend>Generar Recibos del Mes</legend>

        <div class="form-floating mb-3">
            <input class="form-control text-primary" type="month" id="mes" name="mes" placeholder="Fecha" required>
            <label for="mes">Mes</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control text-primary mt-3" type="text" id="concepto" name="concepto"
                placeholder="Concepto" required>
            <label for="concepto">Concepto</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control text-primary mt-3" type="number" id="cuota_comun" name="cuota_comun" value="0"
                placeholder="Cuota comun" required>
            <label for="cuota_comun">Cuota comun</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control text-primary mt-3" type="number" id="cuota_edificio" name="cuota_edificio"
                value="0" placeholder="Cuota del edificio" required>
            <label for="cuota_edificio">Cuota edificio</label>
        </div>
        <div class="">
            <button class="btn btn-primary" type="submit" value="Generar" onclick="generarPrevent(event)">Generar
                Todos</button>
        </div>
    </form>
</fieldset>