<fieldset>
    <legend>Identificar Pago</legend>
    <form class="row" action="/pago/identificar" method="POST">
        <div class="col">
            <input class="form-control" type="numer" id="rowid" name="rowid" placeholder="#" required>
        </div>
        <div class="col">
            <input class="form-control" type="number" id="edificio" name="edificio" min="1" max="16"
                placeholder="Edificio" required>
        </div>
        <div class="col">
            <input class="form-control" type="text" id="apartamento" name="apartamento" placeholder="Apartamento"
                required>
        </div>
        <div class="col">
            <div class="">
                <button class="btn btn-primary" type="submit">Identificar</button>
            </div>
        </div>
    </form>
</fieldset>