<fieldset>
    <legend>Propietario</legend>
    <form class="from-group" action="/recibo/almacenar" method="POST">
        <div class="row">
            <div class="col">
                <div class="form-floating">
                    <input class="form-control text-primary" type="number" id="edificio" name="edificio"
                        placeholder="Edificio" min="1" max="16" required>
                    <label for="edificio">Edificio</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input class="form-control text-primary" type="text" id="apartamento" name="apartamento"
                        placeholder="Apartamento" required>

                    <label for="apartamento">Apartamento</label>
                </div>
            </div>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control text-primary mt-3" type="month" id="fecha" name="fecha" placeholder="Fecha"
                required>
            <label for="fecha">Mes</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control text-primary mt-3" type="text" id="concepto" placeholder="Concepto"
                name="concepto">

            <label for="concepto">Concepto</label>
        </div>
        <div class="row mt-3">
            <div class="col">
                <div class="form-floating mb-3">
                    <input class="form-control text-primary" type="number" id="cuota_comun" name="cuota_comun"
                        placeholder="Cuota comun" value="0" required>
                    <label for="cuota_comun">Cuota comun</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-3">
                    <input class="form-control text-primary" type="number" id="cuota_edificio" name="cuota_edificio"
                        placeholder="Cuota edificio" value="0" required>
                    <label for="cuota_edificio">Cuota edificio</label>
                </div>
            </div>
        </div>
        <div class="">
            <button class="btn btn-primary" type="submit" value="Guardar">Generar</button>
        </div>
    </form>
</fieldset>