<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Link</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" id="tasa_dia" type="number" step="0.1" placeholder="Tasa BCV">
                <button class="btn btn-primary" type="button" onclick="guardarTasa()">BCV</button>
            </form>
        </div>
    </div>
</nav>



<script>
    document.querySelector("button").addEventListener('click', guardarTasa);
    localBCV = localStorage.getItem('tasa');
    tasa = localBCV !== null ? localBCV : 0;
    document.querySelector("input[id='tasa_dia']").value = tasa; 
</script>