% include('esqueleto.html')
% include('navbar.html')


<div class="container">
  <div class="row gx-0">
    <div class="col-sm-3 bg-primary-subtle px-2">
      % include('sidebar.html')
    </div>
    <div class="col-sm-9 px-2">

      % include('form_pagos.html')
      <hr>
      % include('form_pago_identificar.html')
      <hr>
      <h4>Ultimos agregados</h4>
      <div class="table-responsive overflow-y-auto mt-3 card" style="height: 25rem;">
        <table class="table table-striped">
          <thead class="sticky-top table-primary">
            <tr class="text-center">
              <th>#</th>
              <th class="text-start">Ed.</th>
              <th class="text-start">Apto.</th>
              <th class="text-start">Fecha</th>
              <th class="text-start">Referencia</th>
              <th class="text-end">BsD</th>
              <th class="text-end">$USD</th>
              <th class="text-end">Saldo $</th>
              <th class="text-center p-0"><span class="material-icons">build</span></th>
            </tr>
          </thead>
          % for x in ultimos:
          <tr>
            <td class="text-center">{{x[0]}}</td>
            <td class="fw-semibold">{{x[1]}}</td>
            <td class="fw-semibold">{{x[2]}}</td>
            <td class="">{{x[3]}}</td>
            <td class="">{{x[4]}}</td>
            <td class="text-end">{{x[5]}}</td>
            <td class="text-end">{{(x[6])}}</td>
            <td class="text-end">{{(x[7])}}</td>
            <td class="text-center">
              % if x[8] == 0:
              <a class="text-danger" style="text-decoration: none;" href="/pagos/eliminar/{{x[0]}}" title="Eliminar"
                onclick="deletePrevent(event)">
                <span class="material-icons">
                  backspace
                </span>
              </a>
              % end

            </td>
          </tr>
          % end

        </table>

      </div>

    </div>

  </div>

</div>

<script>
  tasa = localStorage.getItem('tasa') !== null ? localStorage.getItem('tasa') : 0;
  document.querySelector("input[name='tasa']").value = tasa;
</script>


% include('footer.html')