% include('esqueleto.html')
% include('navbar.html')

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            % include('sidebar.html')
        </div>

        <div class="col-sm-9">

            <div class="container">
                <h1>Listado</h1>
            </div>

            <div class="container">
                % include('form_propietario.html')
            </div>

            <div class="container">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Ed.</th>
                            <th>Apart.</th>
                            <th>Propietario</th>
                            <th>Correo</th>
                            <th>Tlf</th>
                            <th class="">Acciones</th>

                        </tr>
                    </thead>
                    <tbody>
                        % for x in unidades:
                        <tr>
                            <td>{{x[0]}}</td>
                            <td>{{x[1]}}</td>
                            <td>{{x[2]}}</td>
                            <td>{{x[3]}}</td>
                            <td>{{x[4]}}</td>
                            <td class="text-center">
                                <span class="material-icons text-warning" style="cursor: pointer;" title="Editar"
                                    data-edificio="{{x[0]}}" data-apartamento="{{x[1]}}" data-propietario="{{x[2]}}"
                                    data-correo="{{x[3]}}" data-telefono="{{x[4]}}"
                                    onclick="editarPropietario(event)">edit</span>
                            </td>
                        </tr>
                        % end
                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>
            </div>


        </div>





    </div>



</div>





% include('footer.html')