% include('esqueleto.html')
% include('navbar.html')

<div class="w3-content" style="max-width:1200px">
    <div class="w3-row">
        <div class="w3-quarter w3-padding w3-theme-l3">
            % include('sidebar.html')
        </div>

        <div class="w3-rest  w3-padding ">
            <!-- <h3>Listado</h3> -->
            % include('form_propietario.html')
            <hr>
            <div class="" style="height: 50vh;">
                <table class="w3-table">
                    <thead class="table-primary">
                        <tr class="sticky-top">
                            <th class="">Ed.</th>
                            <th>Apart.</th>
                            <th>Propietario</th>
                            <th>Correo</th>
                            <th>Tlf</th>
                            <th class=""></th>
                        </tr>
                    </thead>
                    <tbody>
                        % for x in propietarios:
                        <tr>
                            <td class="fw-semibold">{{x[0]}}</td>
                            <td class="fw-semibold">{{x[1].upper()}}</td>
                            <td>{{x[2]}}</td>
                            <td>{{x[3]}}</td>
                            <td>{{x[4]}}</td>
                            <td class="text-center">
                                <span class="material-icons text-primary" style="cursor: pointer;" title="Editar"
                                    data-edificio="{{x[0]}}" data-apartamento="{{x[1]}}" data-propietario="{{x[2]}}"
                                    data-correo="{{x[3]}}" data-telefono="{{x[4]}}"
                                    onclick="editarPropietario(event)">edit</span>
                            </td>
                        </tr>
                        % end
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>





% include('footer.html')