% include('esqueleto.html')
% include('navbar.html')

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            % include('sidebar.html')
        </div>
        <div class="col-sm-9">
            <div class="container">
                <h1>Ingresar Recibo</h1>
            </div>
            % include('form_recibo.html', accion = '/recibos/almacenar')

            <div class="container">
                <table class="table table-responsive caption-top">
                    <caption style="font-weight: bold;">Ultimos Ingresados</caption>
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Edificio</th>
                            <th class="text-center">Apartamento</th>
                            <th class="text-center">Fecha</th>
                            <th>Concepto</th>
                            <th>Cuotas</th>
                            <th>Saldo</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- rowid, edificio, apartamento, fecha, concepto, cuota_comun, cuota_edificio
                        FROM recibos WHERE procesado = 0 -->
                        % for recibo in ultimos:
                        <tr>
                            <td class="text-center">{{recibo[0]}}</td>
                            <td class="text-center">{{recibo[1]}}</td>
                            <td class="text-center">{{recibo[2]}}</td>
                            <td class="text-center">{{recibo[3]}}</td>
                            <td>{{recibo[4]}}</td>
                            <td>{{recibo[5]}}/{{recibo[6]}}</td>
                            <td>{{recibo[7]}}</td>
                            <td class="text-center">
                                <a href="/recibos/eliminar/{{recibo[0]}}">
                                    <span class="material-icons text-danger" onclick="deletePrevent(event)"
                                        style="cursor:pointer;" title="Elimiinar Recibo">backspace</span>
                                </a>
                            </td>
                        </tr>
                        % end



                    </tbody>

                    <tfoot>

                    </tfoot>

                </table>


            </div>

        </div>
    </div>
</div>

