% include('esqueleto.html')
% include('navbar.html')





<div class="container">
    <div class="row">
        <div class="col-sm-3">
            % include('sidebar.html')
        </div>
        <div class="col-sm-9">
            <div class="container">
                <h1>Recibos del Mes</h1>
            </div>
            % include('form_recibos_mes.html')
            % include('select_fecha.html', accion = '/recibos/mes')

            <div class="container">
                <table class="table table-responsive caption-top">
                    <div class="container">
                        <h3 class="text-end">Periodo: {{ano_mes}}</h3>
                        <h4>
                            <a href="/recibos/eliminar/mes/{{ano_mes}}" onclick="deleteMesPrevent(event)">
                                <button class="btn btn-danger float-end" title="Eliminiar todo el periodo {{ano_mes}}">Eliminar todo el periodo</button>
                            </a>
                        </h4>
                    </div>
                    <caption></caption>
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Edificio</th>
                            <th class="text-center">Apartamento</th>
                            <th class="text-center">Fecha</th>
                            <th class="text-center">Concepto</th>
                            <th class="text-end">Cuotas</th>
                            <th class="text-end">Saldo</th>
                        </tr>
                    </thead>
                    <tbody>
                        % for x in recibos:
                        <tr>
                            <td class="text-center">{{x[0]}}</td>
                            <td class="text-center">{{x[1]}}</td>
                            <td class="text-center">{{x[2]}}</td>
                            <td class="text-center">{{x[3]}}</td>
                            <td class="text-center">{{x[4]}}</td>
                            <td class="text-end">{{ x[5] }} / {{ x[6] }}</td>
                            <td class="text-end">{{x[7]}}</td>
                        </tr>
                        % end
                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>



            </div>


        </div>
    </div>
</div>






% include('footer.html')