% include('esqueleto.html')
% include('navbar.html')





<div class="container">
    <div class="row">
        <div class="col-sm-3">
            % include('sidebar.html')
        </div>



        <div class="col-sm-9">

            <div class="container">
                <h1>Deuda General: USD$ {{deuda}}</h1>
            </div>
            <div class="container">
                <table class="table table-responsive caption-top">
                    <caption>Resumen por Propietario</caption>
                    <thead>
                        <tr>
                            <th>Edificio</th>
                            <th>Apartamento</th>
                            <th>Propietario</th>
                            <th>Recibos</th>
                            <th class="text-end">Monto USD$</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- tabla: edificio, apartamento, propietario, fechas, 4 columnas de cuota (where procesado = 0) -->
                        % for x in datos_tabla:
                        <tr>
                            <td>{{x[0]}}</td>
                            <td>{{x[1]}}</td>
                            <td>{{x[2]}}</td>
                            <td>{{x[3]}}</td>
                            <td class="text-end">{{x[4] + x[5] + x[6] + x[7]}}</td>
                        </tr>
                        % end
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>




        </div>
    </div>
</div>

% include('footer.html')