<div class="container border-primary">
    <ul class="nav flex-column">
        <h4>Propietarios</h4>
        <li class="nav-item">
            <a class="nav-link" href="/propietarios">Listado</a>
        </li>
        <h4>Recibos</h4>
        <li class="nav-item">
            <a class="nav-link" href="/recibos/ingresar">Ingresar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/recibos/consultar">Consultar y Editar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/recibos/mes">Carga Masiva</a>
        </li>
        <h4>Pagos</h4>
        <li class="nav-item">
            <a class="nav-link" href="/pagos">Ingresar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/pagos/consultar">Consultar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/pagos/aplicar">Aplicar</a>
        </li>
        <h4>Gastos</h4>
        <li class="nav-item">
            <a class="nav-link" href="/gastos">Ingresar</a>
        </li>
        
        <h4>Reportes</h4>
        <li class="nav-item">
            <a class="nav-link" href="/reportes/general">Deuda General</a>
        </li>
        <h4>Configurar</h4>
        <li class="nav-item">
            <a class="nav-link" href="#">Tasa BCV</a>
        </li>
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>
</div>