<div class="nav flex-column fs-5">
    <h5>Propietarios</h5>
    <a href="/propietarios" class="nav-link">Listado</a>
    <h5>Recibos</h5>
    <a href="/recibos/generar" class="nav-link">Generar</a>
    <a href="/recibos/consultar" class="nav-link">Consultar</a>
    <h5>Pagos</h5>
    <a href="/pagos/ingresar" class="nav-link">Ingresar</a>
    <a href="/pagos/consultar" class="nav-link">Consultar</a>
    <a href="/pagos/aplicar" class="nav-link">Aplicar</a>
    <h5>Gastos</h5>
    <a href="/gastos/ingresar" class="nav-link">Ingresar</a>
    <a href="/gastos/consultar" class="nav-link">Consultar</a>
    <h5>Reportes</h5>
    <a href="/reporte/balance/bsd" class="nav-link">Balance BsD</a>
    <a href="/reporte/balance/usd" class="nav-link">Balance USD$</a>
    <a href="/reporte/morosidad" class="nav-link">Morosidad General</a>
  </div>