<fieldset class="" disabled>
    <legend>Editar Propietario</legend>
    <form class="" id='editar_propietario' action="{{url_for('listado_editar')}}" method="POST">
        <div class="row">
            <div class="col">
                <input class="form-control" type="number" id="edificio" name="edificio" placeholder="Edificio" readonly>
            </div>
            <div class="col">
                <input class="form-control" type="text" id="apartamento" name="apartamento" placeholder="Apartamento"
                    readonly>
            </div>
        </div>
        <input class="form-control my-3" type="text" id="propietario" name="propietario" placeholder="Propietario">
        <input class="form-control my-3" type="email" id="correo" name="correo" placeholder="Correo">
        <input class="form-control my-3" type="tel" id="telefono" name="telefono" placeholder="Telefono">
        <button class="btn btn-primary" type="submit" value="Editar">Editar</button>
    </form>
</fieldset>