{% extends 'base.html' %}
{% block main %}
<h3>Listado</h3>
{% include 'form_propietario.html' %}
<hr>
<div class="overflow-y-auto mt-2 table-responsive print" style="height: 50vh;">
    <table class="table table-hover">
        <thead class="table table-primary">
            <tr class="sticky-top">
                <th class="">Ed.</th>
                <th>Apto.</th>
                <th>Propietario</th>
                <th>Correo</th>
                <th>Telefono</th>
                <th class="noprint p-0"><span class="material-icons">build</span></th>
            </tr>
        </thead>
        <tbody class="">
            {% for x in propietarios %}
            <tr>
                <td class="fw-semibold">{{x[0]}}</td>
                <td class="fw-semibold">{{x[1]}}</td>
                <td>{{x[2]}}</td>
                <td>{{x[3]}}</td>
                <td>{{x[4]}}</td>
                <td class="text-center noprint">
                    <span class="material-icons text-primary" style="cursor: pointer;" title="Editar"
                        data-edificio="{{x[0]}}" data-apartamento="{{x[1]}}" data-propietario="{{x[2]}}"
                        data-correo="{{x[3]}}" data-telefono="{{x[4]}}" onclick="editarPropietario(event)">edit</span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>
{% endblock main %}
